$gray : #E6E6E6;

body {
  background-color: green;
  color: $gray;
}

.project {
  font-weight: bold;
  color: $gray;
  font-size: large;
    .info{
      font-weight: normal;
      font-size: medium;
    }
}

button {
  color: black;
}

#user_info {
  margin-top: 15%;
}

img {
  height: 50%;
  width: 50%;
  border-radius: 25px;

}
